.certificateTableCol {
  max-width: 95%;
  overflow-x: auto;
}

.titleWrapper {
  display: flex;
  background-color: white;
  border-radius: 8px;
  padding: 4px 40px;
  justify-content: center;
  align-items: center;
}

.title {
  margin-bottom: 0;
}

.titleIcon {
  font-size: 18px;
  margin-right: 10px;
}
