.card {
  background-color: transparent;
  border-radius: 6px;
  padding: 12px 10px;
}

.text {
  font-size: 11px;
  font-weight: bold;
  color: gray;
}

.textWrapper {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
}

.uniqueIdCol {
  width: 250px;
}

.originatorCol {
  width: 200px;
}

.originatorCountryCol {
  width: 150px;
}

.ownerCol {
  width: 180px;
}

.ownerCountryCol {
  width: 120px;
}

.statusCol {
  width: 100px;
}
