.card {
  width: 1070px;
  margin: auto !important;
  background-color: white;
  border-radius: 6px;
  padding: 12px 10px;
}

.text {
  font-size: 12px;
  font-weight: bold;
}

.textWrapper {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
}

.uniqueIdTextWrapper {
  cursor: pointer;
}

.uniqueIdWrapper {
  cursor: pointer;
}

.uniqueIdCol {
  width: 250px;
  flex-shrink: 0;
}

.originatorCol {
  width: 200px;
  flex-shrink: 0;
}

.originatorCountryCol {
  width: 150px;
  flex-shrink: 0;
}

.ownerCol {
  width: 180px;
  flex-shrink: 0;
}

.ownerCountryCol {
  width: 120px;
  flex-shrink: 0;
}

.statusCol {
  width: 100px;
  flex-shrink: 0;
}

.favoriteCol {
  width: 50px;
  flex-shrink: 0;
  text-align: center;
}

.favoriteIcon {
  width: 16px;
  cursor: pointer;
}
