.card {
  background-color: white;
  border-radius: 6px;
  padding: 12px 10px;
}

.text {
  font-size: 12px;
  font-weight: bold;
}

.textWrapper {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
}

.uniqueIdTextWrapper {
  cursor: pointer;
}

.uniqueIdWrapper {
  cursor: pointer;
}

.uniqueIdCol {
  width: 250px;
}

.originatorCol {
  width: 180px;
}

.originatorCountryCol {
  width: 30px;
}

.ownerCol {
  width: 180px;
}

.ownerCountryCol {
  width: 30px;
}

.statusCol {
  width: 60px;
}

.favoriteCol {
  width: 30px;
}

.favoriteIcon {
  width: 16px;
  cursor: pointer;
}
